@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(fonts.css);
@import url(main.css);
@import url(Blog.css);
@import url(Responsive/healthyFoodPage.css);
@import url(Responsive/pinablePage.css);
@import url(Responsive/aboutPage.css);
:root {
  --black: #292d35;
  --black-darker: #000003;
  --black-text: rgba(41, 45, 53, 1);
  --black-light: rgba(41, 45, 53, 0.7);
  --gray: #f3f5ed;
  --gray-lighter: rgba(243, 245, 237, 0.5);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.75);
  --main: #8ec038;
  --main-darker: #70a21a;
  --main-lighter: rgba(142, 192, 56, 0.5);
  --second: #da2424;
  --red: #da2424;
}
body {
  font-family: Regular-fira;
  font-size: 16px;
  color: var(--black);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  border: none;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--black);
}
/* ******************************************* */
.questions {
  padding: 80px 0;
  background-color: var(--gray);
}
.questions h3 {
  font-family: Bold-fira;
  font-size: 36px;
  color: var(--black);
  margin-bottom: 20px;
}
.questions p {
  font-family: Regular-open-sans;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 30px;
}
.questions ul li {
  font-family: Regular-open-sans;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 15px;
  position: relative;
}
.questions i {
  color: var(--main);
  margin-inline-end: 10px;
}
.questions .first-ul li i {
  color: var(--main);
  font-size: 6px;
  margin-inline-end: 5px;
  position: absolute;
  bottom: 5px;
  left: -15px;
}
.questions a {
  background-color: var(--main);
  border-radius: 36px;
  margin-bottom: 30px;
  color: var(--white);
  transition: all 500ms;
  &:hover {
    color: var(--main);
    background-color: var(--black);
  }
}
.questions .accordion-header {
  font-family: Bold-fira;
  color: var(--black);
}
.questions .accordion-item {
  border: none;
  margin-bottom: 30px;
  width: 70%;
  background-color: transparent;
}
.questions .accordion-item .accordion-button {
  background-color: var(--main);
  border-radius: 36px;
  padding: 30px;
  &:focus {
    color: var(--black);
    outline: none;
    box-shadow: none;
  }
}
.questions .accordion-body {
  font-family: Regular-open-sans;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 15px;
  background-color: transparent;
  li {
    list-style: disc;
  }
}
.questions .accordion-item:first-child .accordion-button {
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  
  .questions .accordion-item:last-child .accordion-button {
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
  }