@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(fonts.css);
@import url(main.css);
@import url(cart.css);
@import url(Responsive/healthyFoodPage.css);
@import url(Responsive/aboutPage.css);
@import url(Responsive/blogPage.css);

:root {
  --black: #292d35;
  --black-darker: #000003;
  --black-text: rgba(41, 45, 53, 1);
  --black-light: rgba(41, 45, 53, 0.7);
  --gray: #f3f5ed;
  --gray-lighter: rgba(243, 245, 237, 0.5);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.75);
  --main: #8ec038;
  --main-darker: #70a21a;
  --main-lighter: rgba(142, 192, 56, 0.5);
  --second: #da2424;
  --red: #da2424;
}
body {
  font-family: Regular-fira;
  font-size: 16px;
  color: var(--black);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  border: none;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--black);
}
/* ******************************************* */
/* start BigSecImg */
.BigSecImg {
  padding: 80px 200px;
}
.BigSecImg .card {
  align-items: center;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 30px;
}
.BigSecImg .card-body {
  text-align: center;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.BigSecImg .card-body a {
  background-color: var(--main);
  width: fit-content;
  color: var(--white);
  font-family: Bold-fira;
  font-size: 12px;
  padding: 6px 30px;
  border-radius: 24px;
  transition: all 500ms;
  border: 1px solid var(--main);
  text-transform: capitalize;
  &:hover{
    background-color: var(--white);
    color: var(--main);
  }
}
.BigSecImg .card-body h2{
    color: var(--black);
    font-family: Bold-fira;
    font-size: 30px;
    padding-top: 30px;
}
.BigSecImg .card-body p{
    color: var(--black);
    font-family: Regular-Open-sans;
    font-size: 14px;
}
.BigSecImg .bottom-card {
  background-color: var(--gray);
  width: 100%;
  text-align: center;
  margin-top: 1px;
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.BigSecImg .bottom-card i{
    color: var(--main);
    margin-inline-end: 10px;
    font-size: 16px;
}
.BigSecImg .bottom-card span{
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
    font-family: Regular-Open-sans;
    transition: all 500ms;
    cursor: pointer;
    &:hover{
        color: var(--black);
    }
}
.BigSecImg .card-img {
  overflow: hidden;
}
.BigSecImg img {
  height: 607px;
  transition: all 500ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
/* End BigSecImg */
/***************************/
