@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(fonts.css);
@import url(main.css);
@import url(cart.css);
@import url(Responsive/healthyFoodPage.css);
@import url(Responsive/aboutPage.css);
@import url(Responsive/contactPage.css);
:root {
  --black: #292d35;
  --black-darker: #000003;
  --black-text: rgba(41, 45, 53, 1);
  --black-light: rgba(41, 45, 53, 0.7);
  --gray: #f3f5ed;
  --gray-lighter: rgba(243, 245, 237, 0.5);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.75);
  --main: #8ec038;
  --main-darker: #70a21a;
  --main-lighter: rgba(142, 192, 56, 0.5);
  --second: #da2424;
  --red: #da2424;
}
body {
  font-family: Regular-fira;
  font-size: 16px;
  color: var(--black);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  border: none;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--black);
}
/* ******************************************* */
/* start information */
.information {
  padding: 80px 0;
  background-color: var(--gray);
}
.information .card {
  align-items: center;
  text-align: center;
}
.information i {
  color: var(--main);
  font-size: 25px;
}
.information h3 {
  color: var(--black);
  font-size: 18px;
  margin: 15px 0;
  font-family: Bold-fira;
}
.information p {
  color: var(--black);
  font-size: 14px;
  font-family: Regular-Open-sans;
}
/* End information */
/* ***************************************************** */
/* start map */
.map {
  padding: 80px 0;
}
.map iframe {
  height: 600px;
}
/* End map */
/* ******************************************************* */
.message{
  background-color: var(--main);
   padding: 80px 0;
}
.message .mb-3{
  display: flex;
    justify-content: center;
}
.message .form-control {
  border-radius: 24px;
  color: var(--gray);
  padding: 20px;
}
.message button {
  background-color: var(--red);
  color: var(--white);
  font-family: Bold-fira;
  transition: all 500ms;
  &:hover {
    background-color: var(--black-darker);
    color: var(--white);
  }
}
.message h2{
    font-size: 30px;
    font-family: Bold-fira;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}