@media (max-width:1024px) {
    .questions h3,
    .footer h3{
        font-size: 25px !important;
    }
}
/* ********************************************* */
@media (max-width:768px) {
    .questions h3,
    .footer h3{
        font-size: 20px !important;
    }
    .questions a,
    .questions .accordion-item .accordion-button{
        font-size: 12px !important;
        padding: 20px !important;
    }
    .accordion-button::after{
        width: 13px !important;
        height: 13px !important;
        background-size: cover !important;
        background-position: center;

    }
}
/* ********************************************* */
@media (max-width:500px) {
    .questions h3,
    .footer h3{
        font-size: 15px !important;
    }
    .questions a,
    .questions .accordion-item .accordion-button{
        font-size: 10px !important;
        padding: 10px !important;
    }
    .questions p,
    .questions a,
    .questions li{
        font-size: 10px !important;
    }
    .questions .first-ul li i {
        font-size: 4px !important;
        bottom: 7px !important;
        left: -10px !important;
    }
    .accordion-button::after{
        width: 10px !important;
        height: 10px !important;
        background-size: cover !important;
        background-position: center;

    }
}/* ********************************************* */
@media (max-width:400px) {
    .questions h3,
    .footer h3{
        font-size: 12px !important;
    }
    .questions a,
    .questions .accordion-item .accordion-button{
        font-size: 8px !important;
        padding: 8px !important;
    }
    .questions p,
    .questions a,
    .questions li{
        font-size: 8px !important;
    }
    .questions .first-ul li i {
        font-size: 4px !important;
        bottom: 7px !important;
        left: -10px !important;
    }
    .accordion-button::after{
        width: 8px !important;
        height: 8px !important;
        background-size: cover !important;
        background-position: center;

    }
}