@media (max-width:768px) {
    .information .card{
        margin-bottom: 30px;
    }
    .message h2{
        font-size: 20px !important;
    }
}
/* ********************************************************/
@media (max-width:500px) {
    .message .form-control{
        padding: 10px !important;
        font-size: 10px !important;
    }
    .message .btn{
        font-size: 10px !important;
    }
}
/* ********************************************************/
@media (max-width:400px) {
    .information h3{
        font-size: 14px !important;
    }
    .information i {
        font-size: 15px !important;
    }
}
/* ********************************************************/