@media (max-width: 1500) {
}
/* *************************************************************** */
@media (max-width: 1024px) {
  .header .navbar .navbar-brand img,
  .footer img {
    width: 90px !important;
  }
  .header .navbar .navbar-nav {
    gap: 10px !important;
  }
  .avocado .card-ul ul li {
    font-size: 12px !important;
  }
}
/* *************************************************************** */
@media (max-width: 768px) {
  .header .navbar .nav-link {
    font-size: 12px !important;
  }
  .header .navbar {
    padding: 10px 25px !important;
}
  .header .navbar .nav-item:hover::after {
    display: none;
  }
  .header .dropdown-menu{
    width: fit-content;
  }
  .header .dropdown-menu a{
    font-size: 12px !important;
  }
  .header .form p {
    font-size: 14px !important;
  }
  .header .form .btn {
    font-size: 12px !important;
  }
  .header .form i {
    font-size: 15px !important;
  }
  .header .form span {
    right: 466px !important;
    width: 15px !important;
    height: 15px !important;
    font-size: 8px;
  }
  .navbar-toggler-icon i {
    font-size: 18px !important;
  }
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    align-items: baseline !important;
  }
  .carousel-dark .carousel-caption img {
    width: 300px;
  }
  .home p,
  .Testimonials p {
    font-size: 14px !important;
  }
  .home .btn {
    padding: 10px 20px !important;
    font-size: 12px !important;
  }
  .carousel-dark .carousel-control-next-icon,
  .carousel-dark .carousel-control-prev-icon {
    width: 16px;
  }
  .about .card-head h2,
  .onlineStore .card-head h2,
  .Testimonials .card-head h2 {
    font-size: 30px !important;
  }
  .about .body h2,
  .onlineStore h2 {
    font-size: 18px !important;
  }
  .about span {
    width: 40px !important;
    height: 40px !important;
    font-size: 12px !important;
  }
  .about .body p,
  .onlineStore .read {
    font-size: 12px !important;
  }
  .about .body a,
  .onlineStore .cart {
    padding: 10px 20px !important;
    font-size: 12px !important;
  }
  .avocado .card-ul ul li {
    align-items: baseline;
  }
  .avocado .row {
    justify-content: center;
  }
  .avocado .card-ul ul li {
    span {
      width: 20px !important;
      height: 20px !important;
      position: relative;
      top: 2px;
      i {
        font-size: 12px !important;
      }
    }
  }
  .avocado img {
    width: 200px;
  }
  .organicProduct .card-head h4 {
    font-size: 24px !important;
  }
  .onlineStore .price {
    font-size: 15px !important;
  }
  .Testimonials .icon i {
    font-size: 20px !important;
  }
  .footer p {
    font-size: 14px !important;
  }
  .footer h3 {
    font-size: 20px !important;
  }
  .footer .icons span {
    width: 25px !important;
    height: 25px !important;
    i {
      font-size: 12px !important;
    }
  }
}
/* *************************************************************** */
@media (max-width: 500px) {
  .header .form span {
    right: 162px !important;
  }
  .header .navbar {
    padding: 8px 12px!important;
}
  .header .navbar .nav-link {
    font-size: 10px !important;
  }
  .header .dropdown-menu a{
    font-size: 10px !important;
  }
  .header .form p,
  .header .form .btn {
    font-size: 10px !important;
  }
  .navbar-toggler-icon i {
    font-size: 14px !important;
  }
  .about .card-head h6,
  .onlineStore .card-head h6,
  .Testimonials .card-head h6 {
    font-size: 25px !important;
  }
  .about .card-head h2,
  .onlineStore .card-head h2,
  .Testimonials .card-head h2 {
    font-size: 20px !important;
  }
  .about span {
    width: 30px !important;
    height: 30px !important;
    font-size: 10px !important;
  }
  .about .body h2,
  .onlineStore h2 {
    font-size: 15px !important;
  }
  .about .body p,
  .onlineStore .read,
  .onlineStore .card-head p {
    font-size: 10px !important;
  }
  .about .body a,
  .onlineStore .cart {
    padding: 8px 10px !important;
    font-size: 8px !important;
  }
  .avocado .text-img,
  .avocado .avocado-img {
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 100px;
    }
  }
  .organicProduct .card-head h4 {
    font-size: 14px !important;
  }
  .organicProduct .img {
    width: 150px !important;
    height: 150px !important;
  }
  .organicProduct h6 {
    font-size: 14px !important;
  }
  .organicProduct p,
  .onlineStore p,
  .home p,
  .Testimonials p {
    font-size: 12px !important;
  }
  .onlineStore .img {
    width: 150px;
  }
  .Testimonials h4 {
    font-size: 14px !important;
  }
  .footer .align-items-center {
    align-items: start !important;
  }
  .footer .icons {
    margin-bottom: 30px;
  }
  .footer p,
  .footer li a,
  .footer li {
    font-size: 10px !important;
  }
  .footer h3 {
    font-size: 15px !important;
  }
  .footer li i {
    font-size: 10px !important;
  }
  .footer .icons span {
    width: 18px !important;
    height: 18px !important;
    i {
      font-size: 8px !important;
    }
  }
  .btn-info {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 8px !important;
    }
  }
  .footer{
    padding-bottom: 0 !important; 
    ul{
        margin-bottom: 0 !important;
    }
  }
}
/* *************************************************************** */
@media (max-width: 400px) {
  .header .navbar .navbar-brand img,
  .footer img {
    width: 70px !important;
  }
  .navbar-toggler-icon i {
    font-size: 10px !important;
  }
  .header .form p,
  .header .form .btn,
  .header .navbar .nav-link {
    font-size: 8px !important;
  }
  .about .card-head h2,
  .onlineStore .card-head h2,
  .Testimonials .card-head h2 {
    font-size: 15px !important;
  }
  .header .form i {
    font-size: 12px !important;
  }
  .header .form span {
    right: 140px !important;
    width: 10px !important;
    height: 10px !important;
    font-size: 7px !important;
  }
  .about span {
    width: 20px !important;
    height: 20px !important;
    font-size: 6px !important;
  }
  .about .body h2,
  .onlineStore h2 {
    font-size: 12px !important;
  }
  .about .body p,
  .onlineStore .read,
  .onlineStore .card-head p {
    font-size: 7px !important;
  }
  .about .body a,
  .onlineStore .cart {
    padding: 0px 4px !important;
    font-size: 6px !important;
  }
  .about .body p {
    margin: 5px 0 !important;
  }
  .organicProduct .card-head h4,
  .organicProduct h6 {
    font-size: 12px !important;
  }
  .organicProduct p,
  .onlineStore p,
  .home p,
  .Testimonials p {
    font-size: 8px !important;
  }
  .about .card-head h6,
  .onlineStore .card-head h6,
  .Testimonials .card-head h6 {
    font-size: 18px !important;
  }
  .onlineStore .price {
    font-size: 10px !important;
  }
  .Testimonials .icon i {
    font-size: 10px !important;
  }
  .Testimonials h4 {
    font-size: 10px !important;
  }
  .footer h3 {
    font-size: 12px !important;
  }
  .footer p,
  .footer li a,
  .footer li,
  .footer li i {
    font-size: 8px !important;
  }
  .about .img img{
    width: 150px;
  }
}
/* *************************************************************** */
@media (max-width: 330px) {
  .header .navbar {
    padding: 5px 25px!important;
}
  .header .form p,
  .header .form .btn,
  .header .navbar .nav-link {
    font-size: 5px !important;
  }
  .header .dropdown-menu a{
    font-size: 5px !important;
  }
  .header .form span {
    right: 96px !important;
  }
  .about .card-head h2,
  .onlineStore .card-head h2,
  .Testimonials .card-head h2 {
    font-size: 12px !important;
  }
}
